---
import "../styles/AboutStyles.css"
---
<section class="info-section">
  <p>
    Café Charlotte ofrece una variedad de opciones para el desayuno,
    incluyendo platos clásicos como pancakes y waffles, así como especialidades
    como enchiladas suizas y enfrijoladas. También cuenta con baguettes,
    quesadillas y tostadas. En bebidas, se destacan smoothies en sabores como
    Mango y Fresa, malteadas de yogurt, néctares, naranjada, y una selección de
    cafés y chocolates. El menú se complementa con opciones de pasteles caseros
    y bowls de cereales. Todos los alimentos se preparan al momento para
    garantizar calidad.
  </p>
</section>
