---
import "../styles/FooterStyles.css"
---
<footer class="footer" x-data>
    <div class="divider"></div>
    <div class="container">
        <a href="#" class="logo">
            <p>Café Charlotte</p>
        </a>
        <p class="copyright">© Efrain Cruz Lobato <span x-text="new Date().getFullYear()"></span> - Todos los derechos reservados</p>
        <div class="social-links">
            <a href="https://github.com/efrain131202" class="social-link" aria-label="Github">
                <img src="/svgs/Github.svg" alt="Github">
            </a>
            <a href="https://www.linkedin.com/in/efrain-cruz-lobato-908a5b2a8/" class="social-link" aria-label="Linkedin">
                <img src="/svgs/Linkedin.svg" alt="Linkedin">
            </a>
        </div>
    </div>
</footer>