<section class="galeria">
    <div class="foto">
        <img src="/imgs/1.jpg" alt="" />
    </div>
    <div class="foto">
        <img src="/imgs/2.jpg" alt="" />
    </div>
    <div class="foto">
        <img src="/imgs/3.jpg" alt="" />
    </div>
    <div class="foto">
        <img src="/imgs/4.jpg" alt="" />
    </div>
    <div class="foto">
        <img src="/imgs/5.jpg" alt="" />
    </div>
    <div class="foto">
        <img src="/imgs/6.jpg" alt="" />
    </div>
    <div class="foto">
        <img src="/imgs/7.jpg" alt="" />
    </div>
    <div class="foto">
        <img src="/imgs/8.jpg" alt="" />
    </div>
</section>


<style>
    .galeria {
        overflow: hidden;
        
    }
    .galeria .foto {
        width: 25%;
        float: left;
    }
    .galeria .foto img {
        width: 100%;
        vertical-align: top;
        opacity: 0.7;
    }
    .galeria .foto:hover img {
        opacity: 1;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }
</style>