---
import "../styles/InformationStyles.css";
---

<div class="restaurant-info">
  <p>
    Aquí se come como en casa sin tener que lavar los platos. Café Charlotte
    ofrece desayunos desde pancakes y waffles hasta especialidades como
    chilaquiles y enchiladas. También encontrarás baguettes, quesadillas y
    tostadas, acompañados por smoothies, malteadas, néctares y una variedad de
    cafés. El menú incluye opciones dulces como pasteles caseros y bowls de
    cereales. Cada platillo es preparado al momento, asegurando calidad en cada
    bocado. Direcciones: 230 Fifth Avenue, New York, NY 10001 (Entre la calle 26
    y 27).
    <span>
      <a
        href="https://www.google.com/maps?q=230+Fifth+Avenue,+New+York,+NY+10001"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="/svgs/ArrowUpRight.svg"
          alt="Ver en Google Maps"
          class="info-icon"
        />
      </a>
    </span>
  </p>
</div>
