<div class="restaurant-info">
  <p>
    Aquí se come como en casa sin tener que lavar los platos. Café Charlotte
    ofrece desayunos desde pancakes y waffles hasta especialidades como chilaquiles y enchiladas. También
    encontrarás baguettes, quesadillas y tostadas, acompañados por smoothies,
    malteadas, néctares y una variedad de cafés. El menú incluye opciones dulces
    como pasteles caseros y bowls de cereales. Cada platillo es preparado al momento,
    asegurando calidad en cada bocado. Direcciones: 230 Fifth Avenue, New York, NY 10001
    (Entre la calle 26 y 27).
    <span>
      <a
        href="https://www.google.com/maps?q=230+Fifth+Avenue,+New+York,+NY+10001"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="/svgs/ArrowUpRight.svg"
          alt="Ver en Google Maps"
          class="info-icon"
        />
      </a>
    </span>
  </p>
</div>

<style>
  .restaurant-info {
    padding: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .restaurant-info p {
    font-size: 20px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0;
    font-family: "Big Shoulders Text", cursive;
  }

  .restaurant-info .info-icon {
    width: 25px;
    height: 25px;
    margin-left: 5px;
    transition:
      transform 0.3s ease,
      filter 0.3s ease;
    filter: brightness(0.8);
    vertical-align: middle;
  }

  .restaurant-info a:hover .info-icon {
    transform: scale(1.1);
    filter: brightness(1);
  }

  @media (max-width: 768px) {
    .restaurant-info p {
      font-size: 16px;
    }
    .restaurant-info .info-icon {
      width: 20px;
      height: 20px;
    }
  }

  @media (max-width: 480px) {
    .restaurant-info p {
      font-size: 14px;
    }
    .restaurant-info .info-icon {
      width: 15px;
      height: 15px;
    }
  }
</style>